<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Hotel</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/responsive.css" />
    <style media="screen">
      .errposition {
        width: 100%;
        height: 200px;
      }

      .errposition h3 {
        margin-top: 100px;
      }
      .positiontb {
        margin-top: 55px;
        margin-bottom: 55px;
      }
      .buttonDelete {
        padding: 20px;
      }
    </style>
  </head>

  <body>
    <main>
      <!-- Header Start -->

      <div class="container">
        <div class="row">
          <div class="col-lg-12 positiontb">
            <% if(msg.length) { %>

            <h3 style="color: #17b978;" class="text-center"><%=msg%></h3>
            <br />

            <% } %> <% if(err.length) { %>

            <div class="errposition">
              <h3 style="color: #ff304f;" class="text-center"><%=err%></h3>
            </div>

            <% } %> <% if(err.length == 0 ){ %>

            <table class="table">
              <thead class="thead-dark">
                <tr border="1">
                  <th>Name</th>
                  <th>Date</th>
                  <th>Category</th>
                  <th>Type</th>
                  <th>Status</th>
                </tr>
              </thead>
              <% for(i in data){ %>

              <tbody>
                <tr>
                  <td><%=data[i].email%></td>
                  <td><%=data[i].date%></td>
                  <td><%=data[i].category%></td>
                  <td><%=data[i].type%></td>

                  <% if(data[i].status == 1){ %>
                  <td style="color: #17b978;" class="text-center">Approved</td>
                  <% } else if(data[i].status == 0){ %>
                  <td style="color: #f0da16;" class="text-center">
                    Pending
                    <form action="/deletereq" method="POST">
                      <input
                        type="text"
                        name="mail"
                        value="<%=data[i].email%>"
                        hidden
                      />
                      <input
                        type="text"
                        name="want"
                        value="<%=data[i].roomWant%>"
                        hidden
                      />
                      <input
                        type="text"
                        name="cat"
                        value="<%=data[i].category%>"
                        hidden
                      />
                      <input
                        type="text"
                        name="type"
                        value="<%=data[i].type%>"
                        hidden
                      />
                      <input
                        type="submit"
                        value="Delete"
                        style="background-color: #ff304f;"
                        class="text-center btn btn-danger buttonDelete"
                      />
                    </form>
                    <% } %>
                  </td>
                </tr>
              </tbody>
              <% } %>
            </table>
            <% } %>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
